.content {
  &__description {
    margin: 9vh 18vw 9vh 18vw;
    text-align: center;
    font-size: 1.2rem;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: $purple;
    &--wright {
      color: white;
      font-size: 1.6rem;
      text-decoration: none;
    }
  }
  &__title {
    @include titles;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 9vh;
    &--photo {
      display: flex;
      justify-self: center;
      align-self: center;
      width: 450px;
      height: auto;
    }
  }
}

.header {
  width: 100%;
  height: 88vh;
  margin-top: 12vh;
  background: url("../assets/img/header.jpg") no-repeat center;
  background-size: cover;
  &__title {
    color: $textPurple;
    text-align: center;
    font-weight: 300;
    font-size: 2.6rem;
    margin-left: 45%;
    padding-top: 7%;
  }
}
