@mixin titles {
    display: flex;
    align-items: center;
    color: $textPurple;
    background-color: $backgroundTitle;
    width: 100%;
    height: 14vh;
    margin: 9vh 0 9vh 0;
    &--wright {
      font-weight: 300;
      font-size: 2rem;
  padding-left: 20vw;
    }
}