.nav {
    z-index: +2;
    width: 100%;
    position: fixed;
    top: 0;
    height: 12vh;
    @media (max-width: 1200px) {
        position: absolute;
    }
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 12vh;
        margin: 0;
        padding-left: 9vw;
        padding-right: 9vw;
        background-color: white;
        @media (max-width: 1200px) {
            display: none;
            flex-direction: column;
            height: auto;
            &--visible {
                display: block;
                font-size: 16px;
                line-height: 2em;
                text-align: center;
                margin: 0;
                padding: 0;
                border: 0;
                list-style-position: inside;
                margin-top: 85px;
                flex-direction: column;
            }
        }
    }
    &__logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        height: 30vh;
        width: auto;
        margin-top: -9vh;
        margin-bottom: -9vh;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8vw;
        height: 4vh;
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        text-decoration: none;
        color: #ab5d55;
        @media (max-width: 1200px) {
            width: 100%;
        }
    }
    &__switcher {
        position: fixed;
        font-size: 2rem;
        background-color: white;
        line-height: 2em;
        border: 0;
        right: 65px;
        top: 2vh;
        cursor: pointer;
        @media (min-width: 1201px) {
            display: none;
        }
        @media (max-width: 1200px) {
            position: absolute;
        }
    }
    &__button {
        z-index: 1;
        transition: all 0.3s;
        list-style-type: none;
        border: 2px solid rgba($color: #c1a6b5, $alpha: 0.9);
        &:hover {
            transition: all 0.3s;
            border: 2px solid rgba($color: #6b4964, $alpha: 0.9);
        }
        &--active {
            border: 2px solid rgba($color: #6b4964, $alpha: 0.9);
        }
        &--rightMargin {
            margin-right: 6vw;
        }
        &--leftMargin {
            margin-left: 6vw;
        }
        @media (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            width: 45vw;
            margin-left: 50vw;
            margin-top: 0.5vw;
            margin-bottom: 0.5vw;
            transform: translate(-50%, 0);
        }
    }
}
