@import "_normalize";
@import "_variables";
@import "_mixins";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}

.nav__logo {
  height: 100px;
  width: auto;
}

.header {
  width: 100%;
  height: 80vh;
  background: url("../assets/img/header.jpg");
  background-size: cover;
  background-position: 10%;
}