@import "_normalize";
@import "_variables";
@import "_mixins";
@import "_home";
@import "_about";
@import "_offer";
@import "_projects";
@import "_realized";
@import "_contact";
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
  margin-top: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
  font-family: 'Cormorant', serif;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    // min-height: 10vw;
    background-color: white;
  }
  &__logo {
    height: 30vh;
    width: auto;
    margin-top: -8vh;
    margin-bottom: -8vh;
  }
  &__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #AB5D55;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 120px;
    height: 31px;
    border: 2px solid rgba($color: #c1a6b5, $alpha: 0.9) ;
  }
}
