@import "_normalize";
@import "_variables";
@import "_mixins";
@import "_home";
@import "_about";
@import "_offer";
@import "_projects";
@import "_realized";
@import "_contact";
@import "_navigation.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
  margin-top: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
  font-family: 'Cormorant', serif;
  letter-spacing: 1px;
}

